<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %><br> 
    <%= form.text_field :title %><br>
  </div>
  <br>
  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Update Task' %>
  </div>
<% end %>

