<h1>Tasks</h1>

<div class="tasks-container">
  <% @tasks.each do |task| %>
    <div class="task">
      <h2><%= task.title %></h2>
      <p><%= task.description %></p>
      <div class="actions">
        <%= link_to 'Show', task, class: 'show-task' %>
        <%= link_to 'Edit', edit_task_path(task), class: 'edit-task' %>
        <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-task' %>
      </div>
    </div>
  <% end %>
</div>

<div class="actions">
  <%= link_to 'New Task', new_task_path, class: 'new-task-button' %>
</div>

